
body {
    background-color: #77b7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  